version: "3"

services:
  db:
    image: mdillon/postgis:9.6-alpine
    container_name: db
    environment:
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: pycsw
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata

  pycsw:
    image: csiss/pycsw
    container_name: pycsw
    ports:
      - "8001:8000"
    volumes:
      - ./pycsw.cfg:/etc/pycsw/pycsw.cfg
      - records:/records
    entrypoint:
      - "python3"
      - "/usr/local/bin/entrypoint.py"
      - "--workers"
      - "6"

      
  harvester-indexer:
    image: csiss/thredds-harvester-indexer
    container_name: thredds-harvester-indexer
    ports:
      - "8002:8000"
    volumes:
      - ./pycsw.cfg:/etc/pycsw/pycsw.cfg
      - records:/records

  cyberconnector:
    image: csiss/cyberconnector
    container_name: cyberconnector
    ports:
      - "8003:8080"
    command: "--edu.cyberconnector.csw_url=http://pycsw:8000 --server.servlet.context-path=/CyberConnector"




volumes:
  dbdata:
  records:

